<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/kurs.css' %}">
</head>
<body>
    <p> {{ content }} </P>
    <div class="main">
    <din class="container">
    <div class="top">
        <div class="logo">
            <a href="C:\Users\Я\Desktop\2\html.html" class="logo">
                <img src="{% static 'main/img/logo.png' %}  " alt="Logo">
            </a>    
        </div>
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="C:\Users\Я\Desktop\2\onas.html">О нас</a></li>
                <li><a href="C:\Users\Я\Desktop\2\kur.html">Курсы</a></li>
                <li><a href="C:\Users\Я\Desktop\2\kont.html">Контакты</a></li>
            </ul>
        </nav>
        <div class="buttons">
            <a class="top-btn" href="C:\Users\Я\Desktop\2\vhod.html">Log in / Register</a>
        </div>
    </div>
    <div class="blok-kur">
        <div class="blok">
            <h3>Python-разработчик</h3>
            <h4>Научитесь создавать мощные и эффективные приложения с помощью Python, одного из самых популярных и универсальных языков программирования.</h4>
            <h5>Цена 75.000р</h5>
            <h6 class="difficulty easy">Легко</h6>
            <div class="fio">Преподаватель: Иван Иванов</div>
                <div class="rating">
                    <span>Рейтинг:</span>
                    <div class="stars-container">
                        <div class="stars-outer">
                            <div class="stars-inner" style="width: 80%;"></div> 
                        </div>
                    </div>
                </div>
                <a href="C:\Users\Я\Desktop\2\2kur.html" class="buttonsb">
                    Подробнее
                </a>
        </div>
        <div class="blok">
            <h3>JS-разработчик</h3>
            <h4>Овладейте JavaScript — ключевым языком для разработки интерактивных веб-приложений и клиентских интерфейсов.</h4>
            <h5>Цена 75.000р</h5>
            <h6 class="difficulty medium">Сложно</h6>
            <div class="fio">Преподаватель: Иван Иванов</div>
                <div class="rating">
                    <span>Рейтинг:</span>
                    <div class="stars-container">
                        <div class="stars-outer">
                            <div class="stars-inner" style="width: 80%;"></div> 
                        </div>
                    </div>
                </div>
                <a href="URL_Ваша_Ссылка_Здесь" class="buttonsb">
                    Подробнее
                </a>
        </div>
        <div class="blok">
            <h3>C++-разработчик</h3>
            <h4>Углублённое изучение C++ поможет вам создавать высокопроизводительные и ресурсосберегающие приложения для различных платформ.</h4>
            <h5>Цена 75.000р</h5>
            <h6 class="difficulty hard">Очень сложно</h6>
            <div class="fio">Преподаватель: Иван Иванов</div>
                <div class="rating">
                    <span>Рейтинг:</span>
                    <div class="stars-container">
                        <div class="stars-outer">
                            <div class="stars-inner" style="width: 80%;"></div> 
                        </div>
                    </div>
                </div>
                <a href="URL_Ваша_Ссылка_Здесь" class="buttonsb">
                    Подробнее
                </a>
        </div>
        <div class="blok">
            <h3>WEB-разработчик</h3>
            <h4>Освойте навыки фронтенд и бэкенд разработки, чтобы создавать современные, быстрые и адаптивные веб-сайты и приложения.</h4>
            <h5>Цена 30.000р</h5>
            <h6 class="difficulty easy">Легко</h6>
            <div class="fio">Преподаватель: Иван Иванов</div>
                <div class="rating">
                    <span>Рейтинг:</span>
                    <div class="stars-container"><div class="stars-outer">
                        <div class="stars-inner" style="width: 80%;"></div> 
                    </div>
                </div>
            </div>
            <a href="URL_Ваша_Ссылка_Здесь" class="buttonsb">
                Подробнее
            </a>
    </div>
    <div class="blok">
        <h3>Data Science</h3>
        <h4>Изучите методы анализа данных и моделирования, используя Python и R для решения бизнес-задач и научных исследований.</h4>
        <h5>Цена 30.000р</h5>
        <h6 class="difficulty medium">Сложно</h6>
        <div class="fio">Преподаватель: Иван Иванов</div>
            <div class="rating">
                <span>Рейтинг:</span>
                <div class="stars-container">
                    <div class="stars-outer">
                        <div class="stars-inner" style="width: 80%;"></div> 
                    </div>
                </div>
            </div>
            <a href="URL_Ваша_Ссылка_Здесь" class="buttonsb">
                Подробнее
            </a>
    </div>
    <div class="blok">
        <h3>AI-разработчик</h3>
        <h4>Узнайте, как строить интеллектуальные системы с применением алгоритмов машинного обучения и искусственного интеллекта.</h4>
        <h5>Цена 100.000р</h5>
        <h6 class="difficulty hard">Очень сложно</h6>
        <div class="fio">Преподаватель: Иван Иванов</div>
            <div class="rating">
                <span>Рейтинг:</span>
                <div class="stars-container">
                    <div class="stars-outer">
                        <div class="stars-inner" style="width: 80%;"></div> 
                    </div>
                </div>
            </div>
            <a href="URL_Ваша_Ссылка_Здесь" class="buttonsb">
                Подробнее
            </a>
    </div>
    <div class="blok">
        <h3>DevOps-инженер</h3>
        <h4>Овладейте практиками DevOps для улучшения взаимодействия между разработкой и эксплуатацией, повышения качества и ускорения релизов.</h4>
        <h5>Цена 100.000р</h5>
        <h6 class="difficulty medium">Сложно</h6>
        <div class="fio">Преподаватель: Иван Иванов</div>
            <div class="rating">
                <span>Рейтинг:</span>
                <div class="stars-container">
                    <div class="stars-outer">
                        <div class="stars-inner" style="width: 80%;"></div> 
                    </div>
                </div>
            </div>
            <a href="URL_Ваша_Ссылка_Здесь" class="buttonsb">
                Подробнее
            </a>
    </div>
    <div class="blok">
        <h3>Mobile-разработчик</h3>
        <h4>Научитесь разрабатывать мобильные приложения для Android и iOS, используя популярные фреймворки и инструменты.</h4>
        <h5>Цена 30.000р</h5>
        <h6 class="difficulty easy">Легко</h6>
        <div class="fio">Преподаватель: Иван Иванов</div>
            <div class="rating">
                <span>Рейтинг:</span>
                <div class="stars-container">
                    <div class="stars-outer">
                        <div class="stars-inner" style="width: 80%;"></div> 
                    </div>
                </div>
            </div>
            <a href="URL_Ваша_Ссылка_Здесь" class="buttonsb">
                Подробнее
            </a>
    </div>
    <div class="blok">
        <h3>Cybersecurity</h3>
        <h4>Изучите основы кибербезопасности, чтобы защищать системы и данные от атак и уязвимостей.</h4>
        <h5>Цена 30.000р</h5>
        <h6 class="difficulty medium">Сложно</h6>
        <div class="fio">Преподаватель: Иван Иванов</div>
            <div class="rating">
                <span>Рейтинг:</span>
                <div class="stars-container"><div class="stars-outer">
                    <div class="stars-inner" style="width: 80%;"></div> 
                </div>
            </div>
        </div>
        <a href="URL_Ваша_Ссылка_Здесь" class="buttonsb">
            Подробнее
        </a>
</div>
<div class="blok">
    <h3>UX/UI дизайнер</h3>
    <h4>Освойте методы разработки пользовательских интерфейсов и опыта, чтобы создавать красивые и интуитивно понятные приложения.</h4>
    <h5>Цена 30.000р</h5>
    <h6 class="difficulty easy">Легко</h6>
    <div class="fio">Преподаватель: Иван Иванов</div>
        <div class="rating">
            <span>Рейтинг:</span>
            <div class="stars-container">
                <div class="stars-outer">
                    <div class="stars-inner" style="width: 80%;"></div> 
                </div>
            </div>
        </div>
        <a href="URL_Ваша_Ссылка_Здесь" class="buttonsb">
            Подробнее
        </a>
</div>
<div class="blok">
    <h3>Бизнес-аналитик</h3>
    <h4>Изучите навыки анализа данных и разработки стратегий для повышения эффективности и доходности бизнеса.</h4>
    <h5>Цена 20.000р</h5>
    <h6 class="difficulty easy">Легко</h6>
    <div class="fio">Преподаватель: Иван Иванов</div>
        <div class="rating">
            <span>Рейтинг:</span>
            <div class="stars-container">
                <div class="stars-outer">
                    <div class="stars-inner" style="width: 80%;"></div> 
                </div>
            </div>
        </div>
        <a href="URL_Ваша_Ссылка_Здесь" class="buttonsb">
            Подробнее
        </a>
</div>
<div class="blok">
    <h3>Блокчейн-разработчик</h3>
    <h4>Узнайте, как создавать приложения на основе блокчейн-технологий для различных сфер бизнеса.</h4>
    <h5>Цена 30.000р</h5>
    <h6 class="difficulty hard">Очень сложно</h6>
    <div class="fio">Преподаватель: Иван Иванов</div>
        <div class="rating">
            <span>Рейтинг:</span>
            <div class="stars-container">
                <div class="stars-outer">
                    <div class="stars-inner" style="width: 80%;"></div> 
                </div>
            </div>
        </div>
        <a href="URL_Ваша_Ссылка_Здесь" class="buttonsb">
            Подробнее
        </a>
</div>
</div> 
</din>  
</div> 
</body>
</html>