<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/onas.css' %}">
    <title>{{ tetle }}</title>
</head>
<body>
    <p> {{ content }} </P>
    <header>
        <h1>О Нас</h1>
    </header>
    <main>
        <section class="about">
            <h2>Кто Мы?</h2>
            <p>
                Наша платформа предлагает широкий выбор IT-курсов, охватывающих различные темы, такие как программирование, веб-разработка и многое другое. Пользователи могут выбирать курсы в зависимости от уровня подготовки — от начинающих до продвинутых.
            </p>
            <p>
                Мы предоставляем доступ к видеоурокам, практическим заданиям и сертификациям по окончании обучения. Удобный интерфейс и возможность общения с преподавателями и другими студентами делают процесс обучения более эффективным и интерактивным.
            </p>
        </section>

        <section class="achievements">
            <h2>Наши Достижения</h2>
            <ul>
                <li>Более 50 000 выпускников.</li>
                <li>Лауреаты премии "Лучший образовательный проект 2022".</li>
                <li>Аккредитация от международных организаций.</li>
                <li>В среднем, студенты повышают свои знания на 85% после окончания курсов.</li>
            </ul>
        </section>
    </main>
</body>
</html>
